@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Добро пожаловать :)</h1>
    <p>НА КУРС ПО БЕЗОПАСНОСТИ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ! <a href="http://citforum.ru/security/articles/kazarin/">Подробнее</a>.</p>
    <img src="~/cartoons/car.jpeg" alt="альтернативный текст" />
</div>
